<configuration>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!--    <appender name="OTEL" class="io.opentelemetry.instrumentation.logback.mdc.v1_0.OpenTelemetryAppender">-->
    <!--        <appender-ref ref="STDOUT"/>-->
    <!--    </appender>-->

    <property name="test.stdout.logging.level" value="OFF"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${test.stdout.logging.level}</level>
        </filter>
        <encoder>
            <pattern>%-5r %highlight(%-5level) trace_id=%mdc{trace_id} span_id=%mdc{span_id} [%thread] %logger - %message%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/test.log</file>
        <encoder>
            <pattern>%date{H:mm:ss.SSS} %-5level trace_id=%mdc{trace_id} span_id=%mdc{span_id} [%thread]: %message%n%ex</pattern>
        </encoder>
    </appender>

    <logger name="io.opentelemetry" level="WARN" />
    <logger name="services" level="DEBUG" />

    <root level="WARN">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>

</configuration>