<configuration>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="OTEL" class="io.opentelemetry.instrumentation.logback.mdc.v1_0.OpenTelemetryAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5r %highlight(%-5level) trace_id=%mdc{trace_id} span_id=%mdc{span_id} [%thread] %logger - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <logger name="io.opentelemetry" level="DEBUG" />
    <logger name="io.opentelemetry.api.internal.ApiUsageLogger" level="TRACE" />
    <logger name="services" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="OTEL" />
    </root>

</configuration>